@import 'tailwindcss';

:root {
  --cinza-claro: #f9fafb;
  --azul-vivido: #3b82f6;
  --azul-claro: #93c5fd;
  --texto: #111827;
  --titulo: #1f2937;
}

.title-h1 {
  @apply text-2xl text-[var(--titulo)];
}

.title-h2 {
  @apply text-lg text-[var(--titulo)];
}

.title-h3 {
  @apply text-sm text-[var(--titulo)];
}

.text-large {
  @apply text-xl text-[var(--texto)];
}

.text-medium {
  @apply text-lg text-[var(--texto)];
}

.text-small {
  @apply text-sm text-[var(--texto)];
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #e7e7e7;
}

/* Animações */

@keyframes dropdown {
  0% {
    opacity: 0.7;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.3s ease-out forwards;
}
